
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<section id="page" class="container content-section text-center">

    <div class="page-content">
        <div class="wrapper">


            <ul>
                {% for post in site.posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</section>

{% include footer.html %}

</body>
</html>

<!-- Blog Layout End -->
